<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jsc.exam.jsckit">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.componet.ArcHeaderViewActivity" />
        <activity android:name=".ui.componet.JSCBannerViewActivity" />
        <activity android:name=".ui.componet.MonthViewActivity" />
        <activity android:name=".ui.componet.ReboundLayoutActivity" />
        <activity android:name=".ui.componet.VerticalStepViewActivity" />
        <activity android:name=".ui.componet.RefreshLayoutActivity" />
        <activity android:name=".ui.componet.JSCRoundCornerProgressBarActivity" />
        <activity android:name=".ui.componet.JSCItemLayoutActivity" />
        <activity android:name=".ui.componet.VScrollScreenLayoutActivity" />
        <activity android:name=".ui.AboutActivity" />
        <activity android:name=".ui.componet.RadarViewActivity" />
        <activity android:name=".ui.componet.TurntableViewActivity" />
        <activity android:name=".ui.componet.SwipeRecyclerViewActivity" />
        <activity android:name=".ui.componet.RippleViewActivity" />
        <activity android:name=".ui.ComponentListActivity" />
        <activity android:name=".ui.zxing.ZXingQRCodeActivity" />
        <activity android:name=".ui.zxing.ZXingScannerActivity" />
        <activity android:name=".ui.Retrofit2Activity" />
    </application>

</manifest>