<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jsc.exam.jsckit">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LaunchActivity" android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" android:launchMode="singleTask"/>
        <activity android:name=".ui.component.ArcHeaderViewActivity" />
        <activity android:name=".ui.component.JSCBannerViewActivity" />
        <activity android:name=".ui.component.MonthViewActivity" />
        <activity android:name=".ui.component.ReboundFrameLayoutActivity" />
        <activity android:name=".ui.component.VerticalStepViewActivity" />
        <activity android:name=".ui.component.RefreshLayoutActivity" />
        <activity android:name=".ui.component.JSCRoundCornerProgressBarActivity" />
        <activity android:name=".ui.component.JSCItemLayoutActivity" />
        <activity android:name=".ui.component.VScrollScreenLayoutActivity" />
        <activity android:name=".ui.AboutActivity" />
        <activity android:name=".ui.component.RadarViewActivity" />
        <activity android:name=".ui.component.TurntableViewActivity" />
        <activity android:name=".ui.component.SwipeRecyclerViewActivity" />
        <activity android:name=".ui.component.RippleViewActivity" />
        <activity android:name=".ui.ComponentListActivity" />
        <activity android:name=".ui.zxing.ZXingQRCodeActivity" />
        <activity android:name=".ui.zxing.ZXingScannerActivity" />
        <activity android:name=".ui.Retrofit2Activity" />
        <activity android:name=".ui.DateTimePickerActivity" />
        <activity android:name=".ui.CustomToastActivity" />
        <activity android:name=".ui.DownloadFileActivity" />
        <activity android:name=".ui.PhotoActivity" />
        <activity android:name=".ui.component.AdvertisementViewActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.BottomNavigationViewActivity" />

        <!-- Android 7.0 照片、APK下载保存路径-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="jsc.exam.jsckit.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <service android:name=".ScreenshotService" />
    </application>

</manifest>